/*Colors*/

$-black: #000000;
$-white: #ffffff;

$-black-1: #050505;
$-black-2: #1F1F1F;
$-black-3: #2D2D2D;
$-gray-1: #3A3A3A;
$-gray-2: #757575;
$-gray-3: #E9E9E9;
$-gray-4: #F4F4F4;
$-purple: #A445ED;
$-red: #FF5252;